#fp-nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  position: relative;
  margin: 30px 7px;
}
#fp-nav ul li:last-child {
  display: none;
}

#fp-nav.fp-right {
  right: 50px;
}

#fp-nav ul li a span {
  width: clamp(4px, 0.3vw, 6px);
  height: clamp(4px, 0.3vw, 6px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: -2px 0 0 -2px;
  border: 0;
  background: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  font-size: clamp(10px, 0.7vw, 14px);
  font-weight: 700;
  color: #fff;
  opacity: 0;
  white-space: nowrap;
  max-width: 220px;
  cursor: pointer;
}

.section {
  height: 100%;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: clamp(44px, 2.5vw, 48px);
  font-weight: 700;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

.btn {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
.btn .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 0.8vw, 16px);
  color: #fff;
  vertical-align: middle;
}

.btns:hover .anchor:after {
  transform: scale3d(1, 1, 1);
  transform-origin: 0 50%;
}
.btns .anchor {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}
.btns .anchor::after {
  bottom: -5px;
  left: 0;
  transform: scale3d(0, 1, 1);
  transition: transform 0.25s ease-in-out;
  transform-origin: 100% 50%;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.mousePointer02 {
  width: clamp(140px, 10.4vw, 200px);
  height: clamp(140px, 10.4vw, 200px);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: scale(0);
  opacity: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.mousePointer02::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  font-size: clamp(10px, 0.8vw, 16px);
  font-weight: 700;
  line-height: 1.2;
  transform: translate(-50%);
  content: "COMING SOON";
  text-align: center;
}

.hiddenTitle {
  display: none;
}

#mainVisual {
  height: 100%;
  overflow: hidden;
}
#mainVisual .swiper-wrapper .swiper-slide .slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 10px;
  font-weight: 700;
  transform: translate(-50%, -50%);
}
#mainVisual .swiper-wrapper .swiper-slide .slogan h3 {
  font-size: clamp(75px, 4.6vw, 90px);
}
#mainVisual .swiper-wrapper .swiper-slide .slogan p {
  margin-top: clamp(20px, 1.3vw, 25px);
  font-size: clamp(36px, 2.5vw, 48px);
}
#mainVisual .swiper-wrapper .swiper-slide .iframeContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#mainVisual .swiper-wrapper .swiper-slide .iframeContainer:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#mainVisual .swiper-wrapper .swiper-slide .iframeContainer .iframeBox {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#mainVisual .swiper-wrapper .swiper-slide .iframeContainer .iframeBox .video {
  display: block;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mainVisual .swiperControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(140px, 8.5vw, 180px);
  position: absolute;
  bottom: clamp(40px, 2.6vw, 50px);
  left: clamp(45px, 2.6vw, 50px);
  z-index: 99;
}
#mainVisual .swiperControl .pagination {
  display: flex;
  align-items: center;
}
#mainVisual .swiperControl .pagination .fraction {
  margin-right: 5px;
  font-size: clamp(14px, 0.8vw, 16px);
  font-weight: 700;
}
#mainVisual .swiperControl .play {
  display: none;
}

#brand {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
#brand:after {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%);
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
}
#brand .swiper-wrapper {
  display: flex;
  align-items: center;
  height: 95%;
  position: relative;
  margin-left: 50px;
}
#brand .swiper-wrapper .swiper-slide {
  width: 725px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: clamp(20px, 2.6vw, 50px) !important;
}
#brand .swiper-wrapper .swiper-slide:hover .background .video video {
  opacity: 1;
}
#brand .swiper-wrapper .swiper-slide .background {
  position: relative;
}
#brand .swiper-wrapper .swiper-slide .background .picture::before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#brand .swiper-wrapper .swiper-slide .background .picture img {
  object-fit: cover;
}
#brand .swiper-wrapper .swiper-slide .background .video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#brand .swiper-wrapper .swiper-slide .background .video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  vertical-align: top;
  object-fit: cover;
}
#brand .swiper-wrapper .swiper-slide .txtBox {
  position: absolute;
  top: clamp(20px, 3.125vw, 60px);
  left: clamp(20px, 3.125vw, 60px);
}
#brand .swiper-wrapper .swiper-slide .txtBox h3 {
  font-size: clamp(24px, 2vw, 40px);
  font-weight: 700;
  line-height: 1.2;
}
#brand .swiper-wrapper .swiper-slide .txtBox p {
  margin-top: clamp(10px, 1vw, 20px);
  font-size: clamp(12px, 0.9vw, 18px);
  font-weight: 700;
}
#brand .swiper-wrapper .swiper-slide .more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  border: clamp(1px, 0.1vw, 2px) solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
#brand .swiper-wrapper .swiper-slide .more:hover p:after {
  opacity: 1;
}
#brand .swiper-wrapper .swiper-slide .more p {
  position: relative;
  font-size: clamp(12px, 0.8vw, 16px);
  font-weight: 700;
  text-align: center;
}
#brand .swiper-wrapper .swiper-slide .more p:after {
  bottom: -5px;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: clamp(1px, 0.1vw, 2px);
  background-color: #fff;
}
#brand .mousePointer {
  width: clamp(100px, 7.8vw, 150px);
  height: clamp(100px, 7.8vw, 150px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(0) translate(-50%, -50%);
  opacity: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
#brand .mousePointer::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: clamp(10px, 0.8vw, 16px);
  font-weight: 700;
  line-height: 0;
  transform: translate(-50%, -50%);
  content: "DRAG";
}

#style {
  height: 100%;
  background-color: #fff;
}
#style .styleList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: space-between;
}
#style .styleList::before {
  pointer-events: none;
  z-index: 1;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
}
#style .styleList > li {
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}
#style .styleList > li a {
  display: block;
  width: 100%;
  height: 100%;
}
#style .styleList > li a .background01 {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/main/style01.jpg");
}
#style .styleList > li a .background02 {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/main/style02.jpg");
}
#style .styleList > li a .background03 {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/main/style03.jpg");
}
#style .styleList > li a .background04 {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/main/style04.jpg");
}
#style .styleList > li a .txtBox {
  font-weight: 700;
  width: 100%;
}
#style .styleList > li a .txtBox h3 {
  font-size: 40px;
}
#style .styleList > li a .txtBox .desc {
  margin-top: 20px;
  line-height: 1.7;
  opacity: 0;
}
#style .styleList > li:nth-child(1) {
  flex-basis: calc(30% - 3px);
  height: calc(70% - 3px);
}
#style .styleList > li:nth-child(1) .txtBox {
  position: absolute;
  right: 50px;
  bottom: -50px;
  text-align: right;
}
#style .styleList > li:nth-child(2) {
  flex-basis: calc(70% - 3px);
  height: calc(70% - 3px);
}
#style .styleList > li:nth-child(2) .txtBox {
  position: absolute;
  bottom: -50px;
  left: 50px;
}
#style .styleList > li:nth-child(3) {
  flex-basis: calc(30% - 3px);
  height: calc(30% - 3px);
}
#style .styleList > li:nth-child(3) .txtBox {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
}
#style .styleList > li:nth-child(4) {
  flex-basis: calc(70% - 3px);
  height: calc(30% - 3px);
}
#style .styleList > li:nth-child(4) .txtBox {
  position: absolute;
  top: 50px;
  left: 50px;
}
#style .styleList > li::before {
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#project .video {
  width: 100%;
  height: 100%;
}
#project .video iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#project .txtBox .title {
  width: 100%;
  letter-spacing: 0;
}
#project .txtBox p {
  position: absolute;
  bottom: clamp(50px, 4.1vw, 80px);
  left: 50%;
  font-size: clamp(15px, 1vw, 20px);
  font-weight: 700;
  transform: translateX(-50%);
}

#gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#gallery .title {
  z-index: 2;
}
#gallery .backgroundAni {
  height: auto;
  margin: 0 auto;
  max-width: 1630px;
}
#gallery .backgroundAni .bgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: galleryBg 30s linear 0s infinite;
}
#gallery .backgroundAni .bgSection .bg > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: clamp(45px, 4vw, 80px);
  max-width: 500px;
}
#gallery .backgroundAni .bgSection .bg > li:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  content: "";
}
#gallery .backgroundAni .bgSection .bg > li img {
  width: 100%;
}

#news .newsContent {
  width: 100%;
}
#news .newsContent .newsList {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#news .newsContent .newsList > li {
  display: flex;
  justify-content: space-between;
  width: 60%;
  position: relative;
}
#news .newsContent .newsList > li:hover:after {
  height: 10px;
  background-color: #fff;
}
#news .newsContent .newsList > li::after {
  top: 50px;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
}
#news .newsContent .newsList > li p {
  font-size: 18px;
  font-weight: 700;
}
#news .newsContent .newsList > li .date {
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
#news .newsContent .btns {
  position: absolute;
  top: clamp(60%, 3.3vw, 65%);
  left: 50%;
  transform: translate(-50%);
}

@keyframes galleryBg {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@media all and (max-width: 1620px) {
  #gallery .backgroundAni .bgSection .bg > li {
    max-width: clamp(380px, 26vw, 500px);
  }
  #news .newsContent .newsList > li::after {
    top: clamp(40px, 3vw, 50px);
  }
}
@media all and (max-width: 1480px) {
  #fp-nav ul li {
    margin: clamp(20px, 1.5vw, 30px) 7px;
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan h3 {
    font-size: clamp(64px, 5vw, 75px);
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan p {
    margin-top: clamp(10px, 1.8vw, 16px);
  }
  .title {
    font-size: clamp(26px, 2.7vw, 40px);
  }
  #brand .swiper-wrapper {
    margin-left: clamp(36px, 3.3vw, 50px);
  }
  #gallery .title,
#project .title {
    font-size: clamp(30px, 2.8vw, 44px);
  }
  #gallery .backgroundAni .bgSection {
    margin: 0 40px;
  }
  #gallery .backgroundAni .bgSection .bg > li {
    padding: clamp(25px, 2.5vw, 45px);
    max-width: clamp(350px, 25.6vw, 380px);
  }
  #news .newsContent .newsList > li p {
    font-size: clamp(12px, 1.2vw, 18px);
  }
  #news .newsContent .btns {
    top: clamp(57%, 4vw, 60%);
  }
}
@media all and (max-width: 1023px) {
  #fp-nav.fp-right {
    right: clamp(40px, 4.8vw, 50px);
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan h3 {
    font-size: clamp(28px, 6.2vw, 64px);
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan p {
    font-size: clamp(18px, 3.5vw, 36px);
  }
  #style .styleList > li a .txtBox h3 {
    font-size: clamp(26px, 3.3vw, 34px);
  }
  #gallery .backgroundAni .bgSection .bg > li {
    padding: clamp(10px, 2vw, 25px);
    max-width: clamp(270px, 27vw, 350px);
  }
  #gallery .backgroundAni .bgSection .bg > li img {
    height: 90%;
  }
}
@media all and (max-width: 860px) {
  #fp-nav.fp-right {
    right: clamp(24px, 4.6vw, 40px);
  }
  #fp-nav ul li {
    margin: clamp(15px, 1.5vw, 30px) 7px;
  }
  #fp-nav ul li a span {
    width: clamp(4px, 0.3vw, 6px);
    height: clamp(4px, 0.3vw, 6px);
  }
  #fp-nav ul li .fp-tooltip {
    font-size: clamp(10px, 0.7vw, 14px);
  }
  .title {
    display: block;
    width: 100%;
    font-size: clamp(16px, 4.1vw, 36px);
    letter-spacing: 0.2rem;
  }
  .btn .material-icons {
    font-size: clamp(10px, 2vw, 18px);
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan h3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(32px, 6.3vw, 55px);
    line-height: 1.2;
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan p {
    font-size: clamp(24px, 4.1vw, 36px);
  }
  #mainVisual .swiperControl {
    width: clamp(120px, 18vw, 160px);
    bottom: clamp(20px, 4vw, 35px);
    left: clamp(20px, 4.2vw, 36px);
  }
  #mainVisual .swiperControl .pagination .fraction {
    font-size: clamp(10px, 1.8vw, 16px);
  }
  #brand {
    justify-content: flex-end;
  }
  #brand .swiper-wrapper {
    left: clamp(22px, 4.2vw, 36px);
  }
  #brand .swiper-wrapper .swiper-slide {
    width: 55vw;
    height: 85vh;
    overflow: hidden;
  }
  #brand .swiper-wrapper .swiper-slide .background {
    height: 100%;
  }
  #brand .swiper-wrapper .swiper-slide .background .picture,
#brand .swiper-wrapper .swiper-slide .background .video {
    height: 100%;
  }
  #brand .swiper-wrapper .swiper-slide .background .picture img,
#brand .swiper-wrapper .swiper-slide .background .video img {
    height: 100%;
  }
  #style .styleList > li a .txtBox h3 {
    font-size: clamp(22px, 3.2vw, 28px);
  }
}
@media all and (max-width: 750px) {
  #brand .swiper-wrapper .swiper-slide {
    width: 350px;
    height: 38vh;
    overflow: hidden;
    margin-top: 0px;
  }
  #brand .swiper-wrapper .swiper-slide .more {
    width: 100%;
  }
  #brand .swiper-wrapper .swiper-slide .txtBox h3 {
    font-size: clamp(20px, 3.4vw, 26px);
  }
  #brand .swiper-wrapper .swiper-slide .txtBox p {
    word-break: keep-all;
    display: block;
    width: 280px;
    font-size: 16px;
    line-height: 1.5;
  }
  #style .styleList > li a .txtBox h3 {
    font-size: clamp(22px, 4vw, 30px);
  }
}
@media all and (max-width: 540px) {
  #fp-nav {
    display: none;
  }
  .title {
    display: flex;
    flex-direction: column;
    font-size: clamp(16px, 7.4vw, 36px);
    line-height: 1.3;
  }
  .hiddenTitle {
    display: block;
    text-align: center;
    font-size: clamp(20px, 7.4vw, 40px);
    font-weight: 700;
    position: absolute;
    top: 18%;
    width: 100%;
  }
  #mainVisual .swiper-wrapper .swiper-slide .slogan h3 {
    display: block;
  }
  #brand .swiper-wrapper .swiper-slide {
    width: 70vw;
    height: 35vh;
  }
  #brand .swiper-wrapper .swiper-slide .txtBox {
    top: clamp(10px, 7vw, 40px);
    left: clamp(10px, 5.5vw, 30px);
  }
  #brand .swiper-wrapper .swiper-slide .txtBox h3 {
    font-size: clamp(20px, 5.5vw, 30px);
  }
  #brand .swiper-wrapper .swiper-slide .txtBox p {
    width: clamp(200px, 60vw, 400px);
    font-size: clamp(14px, 3.7vw, 20px);
  }
}