body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #fff;
  letter-spacing: 0.05rem;
  background-color: #000;
  box-sizing: border-box;
}

#header .ball {
  position: absolute;
  top: 40px;
  left: 65%;
  transform: translateX(-50%);
  opacity: 0;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  z-index: 2;
}
#header .nextPage {
  z-index: 99;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
#header .nextPage img {
  width: 64px;
  height: 65px;
}

#logo {
  z-index: 99;
  position: absolute;
  top: 40px;
  left: 50px;
}
#logo img {
  width: 240px;
  height: 45px;
}

#gnb {
  z-index: 99;
  position: absolute;
  top: 40px;
  right: 150px;
  font-size: 18px;
  font-weight: 700;
}
#gnb .list {
  display: flex;
  align-items: center;
  height: 48px;
}
#gnb .list > li {
  position: relative;
}
#gnb .list > li:hover .depth02 {
  opacity: 1;
  visibility: visible;
}
#gnb .list > li:hover .depth02 .border span:nth-child(1) {
  transform: scaleX(1);
}
#gnb .list > li:hover .depth02 .border span:nth-child(2) {
  transform: scaleY(1);
}
#gnb .list > li:hover .depth02 .border span:nth-child(3) {
  transform: scaleX(1);
}
#gnb .list > li:hover .depth02 .border span:nth-child(4) {
  transform: scaleY(1);
}
#gnb .list > li .depth01 {
  padding: 30px;
}
#gnb .list > li .depth02 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 40px;
  left: 50%;
  font-size: 16px;
  background-color: #000;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}
#gnb .list > li .depth02 li:first-of-type a {
  padding-top: 30px;
}
#gnb .list > li .depth02 li:last-of-type a {
  padding-bottom: 30px;
}
#gnb .list > li .depth02 li a {
  display: block;
  padding: 15px 70px 15px 25px;
}
#gnb .list > li .depth02 li a:hover span::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}
#gnb .list > li .depth02 li a span {
  position: relative;
  display: inline-block;
}
#gnb .list > li .depth02 li a span::before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 20px;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s ease-in-out;
}
#gnb .list > li .depth02 .border {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#gnb .list > li .depth02 .border span {
  position: absolute;
  background-color: #fff;
  transition: transform 0.8s ease-in;
}
#gnb .list > li .depth02 .border span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 0 0;
}
#gnb .list > li .depth02 .border span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: 0 0;
}
#gnb .list > li .depth02 .border span:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 100% 0;
}
#gnb .list > li .depth02 .border span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: 0 100%;
}

.equalizer {
  z-index: 99;
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 40px;
  right: 75px;
}
.equalizer:hover .soundInfo {
  opacity: 1;
  visibility: visible;
}
.equalizer .img {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}
.equalizer .img img {
  width: 125px;
  height: 21px;
}
.equalizer .soundInfo {
  position: absolute;
  top: 40px;
  right: -30px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  width: 160px;
  line-height: 1.2;
  font-size: 12px;
  letter-spacing: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
}

#footer {
  width: 100%;
  height: 400px;
}
#footer .fContent {
  margin-bottom: 50px;
}
#footer .fContent .copyRight {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  font-weight: 700;
}
#footer .fContent .btns {
  position: absolute;
  left: 50px;
  bottom: 50px;
}
#footer .fContent .btns .anchor {
  font-size: 16px;
}
#footer .fContent .topBtn {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
#footer .fContent .topBtn img {
  width: 64px;
  height: 65px;
  transform: rotateX(180deg);
}
#footer .fContent .fLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
#footer .fContent .fLogo img {
  opacity: 0.1;
  width: 302px;
  height: 566px;
}